pms
*.swp
.svn
*/.svn
*~
*Session.vim
releases/*
configure
Makefile.in
errlog
web
valgrind.log
config.h.in
autom4te.cache
aclocal.m4
m4/intltool.m4
src/.deps
src/stamp-h1
stamp*
compile
.deps
Makefile
*.o
config.h
config.*
depcomp
missing
po/Makefile*
po/POTFILES
install-sh
/build/
tags
doc/pms.1
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
