pms
*.swp
.svn
*/.svn
*~
*Session.vim
releases/*
configure
Makefile.in
config.rpath
errlog
doc
web
valgrind.log
config.h.in
autom4te.cache
aclocal.m4
src/.deps
src/stamp-h1
stamp*
.deps
Makefile
*.o
config.h
config.*
depcomp
missing
po/Makefile
install-sh
