pms
*.swp
*Session.vim
Makefile
autom4te.cache/
build.h*
config.log
config.status
configure
configure.scan
Makefile.in
aclocal.m4
depcomp
install-sh
missing
src/.deps/
src/Makefile.in
src/*.o
stamp-h1
